---
const pageBlog = "博客"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageBlog}</title>
	</head>
	<body>
		<h1>{pageBlog}</h1>
		<a href="/">首页</a>
		<a href="/about">关于我们</a>
		<a href="/blog">{pageBlog}</a>
		<ul>
			<li><a href="/posts/post-1">第一篇文章</a></li>
			<li><a href="/posts/post-2">第一篇文章</a></li>
			<li><a href="/posts/post-3">第一篇文章</a></li>
			<li><a href="/posts/post-4">第一篇文章</a></li>
		</ul>
	</body>
</html>
